/* Coolors Exported Palette - https://coolors.co/2d3142-4f5d75-bfc0c0-ffffff-ef8354 */

/* CSS HEX */
--jet-black: #2d3142ff;
--blue-slate: #4f5d75ff;
--silver: #bfc0c0ff;
--white: #ffffffff;
--coral-glow: #ef8354ff;

/* CSS HSL */
--jet-black: hsla(229, 19%, 22%, 1);
--blue-slate: hsla(218, 19%, 38%, 1);
--silver: hsla(180, 1%, 75%, 1);
--white: hsla(0, 0%, 100%, 1);
--coral-glow: hsla(18, 83%, 63%, 1);

/* SCSS HEX */
$jet-black: #2d3142ff;
$blue-slate: #4f5d75ff;
$silver: #bfc0c0ff;
$white: #ffffffff;
$coral-glow: #ef8354ff;

/* SCSS HSL */
$jet-black: hsla(229, 19%, 22%, 1);
$blue-slate: hsla(218, 19%, 38%, 1);
$silver: hsla(180, 1%, 75%, 1);
$white: hsla(0, 0%, 100%, 1);
$coral-glow: hsla(18, 83%, 63%, 1);

/* SCSS RGB */
$jet-black: rgba(45, 49, 66, 1);
$blue-slate: rgba(79, 93, 117, 1);
$silver: rgba(191, 192, 192, 1);
$white: rgba(255, 255, 255, 1);
$coral-glow: rgba(239, 131, 84, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2d3142ff, #4f5d75ff, #bfc0c0ff, #ffffffff, #ef8354ff);
$gradient-right: linear-gradient(90deg, #2d3142ff, #4f5d75ff, #bfc0c0ff, #ffffffff, #ef8354ff);
$gradient-bottom: linear-gradient(180deg, #2d3142ff, #4f5d75ff, #bfc0c0ff, #ffffffff, #ef8354ff);
$gradient-left: linear-gradient(270deg, #2d3142ff, #4f5d75ff, #bfc0c0ff, #ffffffff, #ef8354ff);
$gradient-top-right: linear-gradient(45deg, #2d3142ff, #4f5d75ff, #bfc0c0ff, #ffffffff, #ef8354ff);
$gradient-bottom-right: linear-gradient(135deg, #2d3142ff, #4f5d75ff, #bfc0c0ff, #ffffffff, #ef8354ff);
$gradient-top-left: linear-gradient(225deg, #2d3142ff, #4f5d75ff, #bfc0c0ff, #ffffffff, #ef8354ff);
$gradient-bottom-left: linear-gradient(315deg, #2d3142ff, #4f5d75ff, #bfc0c0ff, #ffffffff, #ef8354ff);
$gradient-radial: radial-gradient(#2d3142ff, #4f5d75ff, #bfc0c0ff, #ffffffff, #ef8354ff);